/*  Alex Childers
	Last modified: 2019/03/10
*/

/* Rules are listed in alphabetical order.
*/

/* color theme:
	grain 
		original: #d7cec7 
		lighter: #dfd7d2
	blackboard #565656
	oxblood #76323f
	tan #c09f80
*/

/* importing fonts */
@import url(https://fonts.googleapis.com/css?family=Nosifer);
@import url(https://fonts.googleapis.com/css?family=Cutive);

body
{
	background-color: #F7F5F3;
	font-family: Cutive, Palatino, serif; 
	padding-top: 5em; 
}

h1
{
	background-color: #76323f;
	color: white; 
	font-weight: bolder; 
	font-family: Nosifer, "Apple Chancery", cursive;
	left: 0; 
	margin: 0; 
	padding: 0.5em;
	position: fixed; 
	right: 0; 
	top: 0;
	width: 100%; 
}

fieldset
{
	padding: 1em; 
	margin: 1em; 
}

form
{
	margin-left: auto; 
	margin-right: auto;	
	width: 80%; 
}

input, label
{
	margin: 0.5em; 
}

legend
{
	background-color: #76323f;
	border: 0.1em solid black; 
	color: white;
	padding: 0.3em; 
}

p
{
	margin: 2em; 
}